body {
    background-image: url('img/tan.jpg');
    background-color: #e3e3e3;
    font-family: Lato;

    h1 , h2 , h3 {
        color: #002b5a;
    }

    h1{
        font-size: 42px;
        font-weight: 200;
    }

    h2{
        font-size: 40px;
        font-weight: 200;
    }

    h3{
        font-size: 15px;
        font-weight: normal;
    }
    .header {
        .title {
            color: #0c3461;
        }
        p {
            color: #333;
            font-family: Lato;
            font-size: 18px;
        }
    }
    .state-finder {
        background-color: #efefef;
        border-radius: 4px;
        box-shadow: 0 2px 2px #cccccc;
        margin-bottom: 53px !important;
        margin-top: 22px !important;
        h2 {
            margin: 0;
            color: #57728f;
        }
        p {
            color: #0b3461;
        }
    }
    .tile {
        padding-bottom: 53px !important;
        h3 {
            font-size: 17px;
            color: #002b5a;
        }
        p {
            color: #666666;
            font-size: 13px;
        }    
        a {
            background-color: #ffffff;
            width: 100%;
            display: block;
            padding: 12px;
            box-sizing: border-box;
            color: #153c67;
            box-shadow: 0 1px 1px #cdcdcd;
        }
    }
    .products {
        ul{
            list-style: none;
            padding: 0;
            background-color: #f2f2f2;
            li {
                img {
                    width: 100%;
                }
                margin-bottom: 20px;
                background-color: #fff;
                padding: 15px;
                .title {
                    color: #002b5a;
                    font-size: 17px;
                }
                .starting-at {
                    color: #4987ca;
                    font-size: 13px;
                }
                .description {
                    color: #666666;
                    font-size: 13px;
                }
                a {  box-shadow: none; }
              
            }
        }
            
    }
}
