body {
    a{
        text-decoration: none;
    }
    background-image: url('img/tan.jpg');
    background-color: #e3e3e3;
    font-family: Lato;

    h1 , h2 , h3 {
        color: #002b5a;
    }

    h1{
        font-size: 42px;
        font-weight: 200;
    }

    h2{
        font-size: 40px;
        font-weight: 200;
    }

    h3{
        font-size: 15px;
        font-weight: normal;
    }
    .header {
        .title {
            color: #0c3461;
        }
        p {
            color: #333;
            font-family: Lato;
            font-size: 18px;
        }
    }
    .state-finder {
        background-color: #efefef;
        border-radius: 4px;
        box-shadow: 0 2px 2px #cccccc;
        margin-bottom: 53px !important;
        margin-top: 22px !important;
        h2 {
            font-size: 20px;
            margin: 0;
            color: #57728f;
        }
        p {
            font-size: 12px;
            color: #0b3461;
        }
    }
    .tile {
        padding-bottom: 53px !important;
        h3 {
            font-size: 17px;
            color: #002b5a;
        }
        p {
            color: #666666;
            font-size: 13px;
        }    
        a {
            background-color: #ffffff;
            width: 100%;
            display: block;
            padding: 12px;
            box-sizing: border-box;
            color: #153c67;
            box-shadow: 0 1px 1px #cdcdcd;
        }
    }
    .in-gravida {
        padding-bottom: 50px !important;
        h3 {
            margin-bottom: 2px !important;
        }
        p {
            margin-top: 3px !important;
        }
        a {
            margin-bottom: 20px;
            border-radius: 3px;
            img {
                height: auto;
                width: auto;
                float: right; 
                margin-top: 6px;
            }
        }
    }
    .products {
        h2 {
            display: inline-block;
            margin-bottom: 15px !important;
            font-size: 30px;
        }
        select {
            color: #002b5a;
            font-size: 13px;
            width: 130px;
            height: 30px;
            margin-top: 5px;
            padding: 8px;
            float: right;
            border: none;
            box-shadow: 0 2px 1px #cdcdcd;
            border-radius: 2px;
        }
        ul{
            list-style: none;
            padding: 0;
            background-color: #f2f2f2;
            li {
                margin-bottom: 20px;
                background-color: #fff;
                padding: 15px;
                padding-bottom: 11px;
                .title {
                    color: #002b5a;
                    font-size: 17px;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                .starting-at {
                    color: #4987ca;
                    font-size: 13px;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                .description {
                    color: #666666;
                    font-size: 13px;
                    margin-bottom: 20px;
                    display: inline-block;
                }
                a {  
                    color: #113965;
                    box-shadow: none; 
                    padding: 0;
                    margin-top: 14px;
                    img {
                        height: auto;
                        width: auto;
                        margin-left: 4px;
                    }
                }
                img {
                    width: 100%;
                }
              
            }
        }
            
    }
}
