@import "breakpoints";
@media (max-width: $portrait-bp) {
    body {
        color: blue;
        .banner-container{
            text-align: center;
            .banner {
                width: 150vw;
            }
        }
        .header {
            margin: 0 30px 0 30px;
        }
        .state-finder {
            margin: 0 30px 0 30px;
            padding: 20px;
            select {
                width: 83%;
            }
        }
        .main-content {
            margin: 0 16px 0 16px;
            .tile {
                background-color: #f3f3f3;
                padding: 24px 18px 0 18px;
                h2 { margin: 0; }
                margin-top: 3px;
            }
        }
    }
}

