$portrait-bp: 683px; 
@media (max-width: $portrait-bp) {
    body {
        color: blue;
        .banner-container{
            text-align: center;
            .banner {
                width: 150vw;
            }
        }
        .header {
            margin: 0 30px 0 30px;
        }
        .state-finder {
            margin: 0 30px 0 30px;
            padding: 20px;
        }
    }
}

